body{
    margin: 0px;
    padding: 0px;
}
div#container{
width: 1024px;
margin: 0 auto;
border: 1px solid;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(19, 148, 148);
}
.logo{
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 900;
}
.slogan{
    text-transform: ;
}
.form-wrapper{
    display: flex;
    align-items: center;
    height: 100%;
}
#forminput{
    width: 300px;
    height: 25px;
    border-radius: 8px 0 0 8px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
}
.section1{
    background-color: burlywood;
    display: flex;
    justify-content: center;
}
.section2{
    background-image: url(imgSection1.jpg);
    background-repeat: no-repeat;
}
.contenu{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
